[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "turkey-eq"

[packages]
requests = "*"
h5py = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
cartopy = "*"
python-dateutil = "*"
pathlib = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"